{% extends "base_generic.html" %}
{% block content %}
        <h1>Todo lo que tenes que saber de JandraClothes</h1>
    <p>
      En JandraClothes podras subir articulos, controlar su stock y buscar por su clave o nombre
    </p>
    <a href="/">Go back home</a>
{% endblock %}
