<!-- mainApp/templates/index.html -->
{% extends "base_generic.html" %}
{% block content %}

        <h1>CATALOGO DE ROPA</h1>

        {% if ropa_list %}
        <table class="table table-bordered">

          <tr>
            <th>Codigo de Producto</th>
            <th>Nombre Producto</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>img</th>
          </tr>
          </thead>
          {% for ropa in ropa_list %}
          <tr>
            <td>{{ ropa.cod }}</td>
            <td><a href="{{ ropa.get_absolute_url }}"> {{ ropa.name }} </a></td>
            <td>{{ ropa.desc }}</td>
            <td>{{ ropa.ropainstance_set.all.count }}</td>
            {% if ropa.image %}
            <td><img src="{{ropa.image.url}}" width="240"></td>
            {% else %}
            <td>SIN IMAGEN</td>
            {% endif %}
            <td><p><a href="{{ropa.get_edit_url}}"> Edita tu ropa </a></p>
              <p><a href = '{% url 'ropa-delete' ropa.cod %}'>Borra tu Ropa</a></p></td>
          </tr>
          {% endfor %}
        </table>

        {% else %}
          <p>No hay ninguna ropa en la base de datos</p>
        {% endif %}

        <a href="{% url 'about' %}">Sobre la App</a>
{% endblock %}
