{% extends "base_generic.html" %}
{% block content %}
    <body>
        <h1>Es hora de transferir tu ropa</h1>
        <h2><strong>STOCK DISPONIBLE: </strong>{{ropa.get_copies_count}}</h2>
        <form action="" method="post">
            {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit">
        </form>
    <a href="/">Go back home</a>
    {% endblock %}
