{% extends "base_generic.html" %}
{% block content %}
    <body>
        <h1>Es hora de editar tu ropa</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit">
        </form>
    <a href="/">Go back home</a>
    {% endblock %}
