{% extends "base_generic.html" %}

{% block content %}
{% if perms.catalog.can_mark_returned %}

<h1>Borrar Ropa</h1>

<p>Estas seguro que quieres borrar este tipo de ropa?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Si, borrar." />
</form>
{% else %}
<h1>YOU HAVE NO PERMISSION TO DO THAT</h1>
<strong><a href="{% url 'index' %}">BABY GO BACK!</a></strong>
{% endif %}

{% endblock %}
