{% extends 'base_generic.html' %}
{% block content %}
<h1>Buscando Ropa</h1>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </form>
  <p></p>
  <thead>
    <table class="table table-bordered">
    <tr>
      <th>Codigo de Producto</th>
      <th>Nombre Producto</th>
      <th>Descripcion</th>
      <th>Stock</th>
      <th>img</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ropa in filter.qs %}
    <tr>
      <td>{{ ropa.cod }}</td>
      <td><a href="{{ ropa.get_absolute_url }}"> {{ ropa.name }} </a></td>
      <td>{{ ropa.desc }}</td>
      <td>{{ ropa.ropainstance_set.all.count }}</td>
      {% if ropa.image %}
      <td><img src="{{ropa.image.url}}" width="240"></td>
      {% else %}
      <td>SIN IMAGEN</td>
      {% endif %}
      <td>{{ ropa.ropainstance_set.all.count }}</td>
      <td><p><a href="{{ropa.get_edit_url}}"> Edita tu ropa </a></p>
          <p><a href = '{% url 'ropa-delete' ropa.cod %}'>Borra tu Ropa</a></p></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
<a href="/">Go back home</a>
{% endblock %}
