{% extends "base_generic.html" %}
{% block content %}
<h1>{{ ropa.name }}</h1>

<p><strong>Codigo: </strong>{{ ropa.cod }}</p> <!-- author detail link not yet defined -->
<p><strong>Descripcion: </strong> {{ ropa.desc }}</p>
<p><strong>Precio: </strong> {{ ropa.precio }}</p>
<p><strong>Categoria: </strong> {{ ropa.categoria }}</p>
{% if ropa.image %}
<td><img src="{{ropa.image.url}}" width="240"></td>
{% endif %}
<a href = "{% url 'ropainstance-create' pk=ropa.cod %}">Insertar un stock de esta ropa</a>
<hr>
<p><strong>Stock del producto</strong></p>
{% for copy in lista %}
<hr>
<p class="{% if copy.estado == 'e' %}text-success{% elif copy.estado == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_estado_display }}</p>
<p><strong>En posesion de:</strong> {{copy.posesion}}</p>
<p>Talle : {{copy.talle}}</p>
<p>Color: {{copy.color}}</p>
<p>Copias: {{copy.get_copies_count}}</p>

<p class="text-muted"><a href="{% url 'ropainstance-detail' copy.id %}"><strong>Id:</strong> {{copy.id}}</a></p>
{% endfor %}
</div>
{% endblock %}
