{% extends "base_generic.html" %}
{% block content %}
    <body>
        <h1>Es hora de insertar stock</h1>
        <form action="" method="post">
            {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
            <input type="submit" value="Submit">
        </form>
    <a href="/">Go back home</a>
{% endblock %}
