{% extends "base_generic.html" %}
{% block content %}
<h1><a href="{% url 'ropa-detail' ropainstance.ropa.cod %}">Ropa de tipo {{ ropainstance.ropa.name }}</a></h1>
<p><strong>Codigo: </strong> {{ ropainstance.ropa.cod }}</p>
<p><strong>Categoria: </strong> {{ropainstance.ropa.categoria }}</p>
<p><strong>Precio:</strong> {{ ropainstance.ropa.precio }}</p>
{% if ropainstance.ropa.image %}
<td><img src="{{ropainstance.ropa.image.url}}" width="240"></td>
{% endif %}
<p>{{ ropainstance.get_estado_display }}<p>
<p><strong>En posesion de:</strong> {{ropainstance.posesion}}</p>
<p>Talle : {{ropainstance.talle}}</p>
<p>Color : {{ropainstance.color}}</p>

<p class="text-muted"><strong>Id:</strong> {{ropainstance.id}}</p>

<p><a href = '{% url 'ropainstance-delete' ropainstance.id %}'>Borra tu Prenda</a></p>

<p><a href = '{% url 'transfer-stock' ropainstance.id %}'>Transferi prendas</a></p>


<p><a href = '{% url 'mark-returned' ropainstance.id %}'>Marca como vendida o retorna tu prenda!</a></p>

</div>
{% endblock %}
